<%- include('./base/header.ejs') %>
<div class="container">
    <div class="row">
        <table class="table text-center">
            <thread>
                <tr>
                    <th>ROLL NO </th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Father Name</th>
                    <th>Aadhar Card</th>
                    <th>Mobile No</th>
                </tr>
            </thread>
            <% students.forEach((student)=>{ %>
                <tr>
                    <td><%= student.rollNo %></td>
                    <td><%= student.firstName %></td>
                    <td><%= student.lastName %></td>
                    <td><%= student.fatherName %></td>
                    <td><%= student.adharCardNo %></td>
                    <td><%= student.mobileNo %></td>
                </tr>
           <% }) %>
        </table>
    </div>
</div>
<%- include('./base/footer.ejs') %>